<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Ключові слова : <ul>
  <li th:each="keyword: ${keywords}" th:text="${keyword.getWord()}"></li>
</ul>
<div th:switch="${books.size()}">
  <p th:case="0">No books found</p>
<table th:case="*">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
  </tr>
  <tr th:each="book : ${books}">
    <td th:text="${book.id}"></td>
    <td th:text="${book.title}"></td>
    <td th:text="${book.author.name}"></td>

  </tr>
</table>
</div>
</body>
</html>